body {
    display:flex;
    justify-content: center;
    background: radial-gradient(#7a6b52,#290101);
    transition: all 1s;
}

body.one {
    background: radial-gradient(#7a6b52,#290c01);
}

body.three {
    background: radial-gradient(#7a6b52,#291801);
}

body.five {
    background: radial-gradient(#7a6b52,#292801);
}

body.seven {
    background: radial-gradient(#7a6b52,#202901);
}

body.nine {
    background: radial-gradient(#7a6b52,#042901);
}

#content {
    width: 100%;
    display:flex;
    justify-content: center;

}

main {
    display: flex;
    justify-content: center;
    z-index: 2

}

.rightMain {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    overflow:hidden;
}

.leftMain {
    display:flex;
    width:400px;
    align-items: center;
}

.projectsBox {
    display:flex;
    padding: 10px;
}

.project {
    background-color: rgb(187, 167, 133);
    padding: 30px 10px;
    display:flex;
    flex-direction: column;
    min-height:600px;
    width: 500px;
    border-style: solid;
    border-radius: 2%;
    border-color: rgba(0, 0, 0, 0.527);
    align-items: center;
    justify-content: space-between;
}

.projectTop {
    display:flex;
    flex-direction: column;
    height:auto;
    width: 425px;
}

.projectTitle {
    align-self: center;
    height:auto;
    width:auto;
    font-size: 18px;
}

.taskList {
    margin:20px 0px;
    display:flex;
    flex-direction:column;
    height:475px;
    width:auto;
    overflow-y:scroll;
    padding: 10px;
    
}

.task {
    margin: 6px 0px;
    font-size: 24px;
    color: rgb(202, 74, 0);
    transition: scale 0.2s;
    overflow-wrap: break-word;
    background-color:  rgba(255, 255, 255, 0.07);
}

.task:hover {
    scale: 1.03;
}

.completed {
    color:green;
    text-decoration: line-through;
}

.periodicityOnce {
    text-decoration: underline;
}

.periodicityOnce.completed {
    text-decoration: underline line-through;
}

.quickAddBox {
    width: 320px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
}

.completionBox {
    background-color: rgb(71, 128, 71);
    height:auto;
    width: 200px;
    padding: 8px;
    border-radius: 3%;
}

.completionMessage {
    font-size: 20px;
    text-align: center;
    overflow-wrap:break-word;
    height:auto;
    width: auto;
}

.formBox {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3px;
    position: absolute;
    padding: 12px;
    height:auto;
    width: 300px;
    left: 0; 
    right: 0;
    bottom: 100px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: wheat;
    border-radius: 3%;
    z-index: 2;
}

.checkLabelPair {
    margin-left: 72px;
    gap: 6px;
}

.submitButton {
    align-self: center;
}

.checkbox {
    scale:1.5;
    margin-right: 3px;
}

.label {
    font-size: 25px;
}

.tasksSignLeft {
    font-size: 200px;
    color: #0000002e;
    transform: scaleX(2.5) rotate(270deg);
    margin-left: -60px;
    background-color: rgba(255, 255, 255, 0);
    transition: color 0.2s;
    padding: 0;
    border: 0;
    font-family: helvetica;
}

.tasksSignRight {
    font-size: 200px;
    color: #0000002e;
    transform: scaleX(2.2) rotate(270deg);
    margin-left: 80px;
    background-color: rgba(255, 255, 255, 0);
    transition: color 0.2s;
    padding: 0;
    border: 0;
    font-family: helvetica;
}

.tasksSignLeft:hover {
    color: rgba(0, 0, 0, 0.356);
}

.taskDeletionBox {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.452);
    width: 325px;
    height: 420px;
    padding: 26px;
}

.taskDeletionList {
    display:flex;
    overflow:scroll;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: baseline;
    align-items: baseline;
}

.taskDeletionLine {
    display:flex;
    width:max-content;
    align-items: center;
    height: 40px;

}

.taskDeletionDescription {
    color:white;
    width: 220px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;


}

.taskDeletionDelete {
    background-color:rgba(255, 255, 255, 0.712);
    height: 30px;
}

.taskDeletionMoveUp {
    background-color:rgba(255, 255, 255, 0.192);
    color: rgb(109, 122, 238);
    height: 30px;
    font-size: 20px;
    margin-left: 10px;
}